<div class="my-3 d-flex justify-content-between align-items-center">
    <h1>Qo'shish</h1>
</div>
<div class="row justify-content-start">
    <div class="col-md-6">
        <% if (currentUser.role==="admin" ) { %>
            <form action="/todos/create" method="post">
                <div class="form-group mb-3">
                    <label>Kimga yuborilsin:</label>
                    <select class="form-select" name="user_id">
                        <% users.forEach(user=> { %>
                            <option value="<%= user.id %>">
                                <%= `${user.firstName} ${user.lastName}` %>
                            </option>
                            <% }) %>
                    </select>
                </div>
                <div class="form-group mb-3">
                    <label>Qaysi tartib:</label>
                    <select class="form-select" name="guide_id">
                        <% guides.forEach(guide=> { %>
                            <option value="<%= guide.id %>">
                                <%= guide.title %>
                            </option>
                            <% }) %>
                    </select>
                </div>
                <div>
                </div>
                <button type="submit" class="btn btn-primary">Yuborish</button>
            </form>
            <% } %>

    </div>
</div>