<h1 class="display-1">Sahifa topilmadi</h1>
<img src="/static/images/not-found.png" class="card-img-top" alt="...">
<div class="card-body d-flex gap-4">
    <a href="/" class="card-link">Panelga</a>
    <a href="/login" class="card-link">Tizimga kirish</a>
</div>