<main class="form-signin w-100 m-auto">
    <form action="/login" method="post">
        <img class="mb-4" src="/static/images/logo.png" alt="" width="300" />
        <h1 class="h3 mb-3 fw-normal">Tizimga kirish</h1>
        <div>
            <label for="username" class="form-label">Login</label>
            <input type="text" id="username" class="form-control" name="username" />
        </div>
        <div class="mb-3">
            <label for="password" class="form-label">Parol</label>
            <input type="password" id="password" class="form-control" name="password" />
        </div>
        <button class="btn btn-primary w-100 py-2" type="submit">Kirish</button>
        <p class="mt-5 mb-3 text-body-secondary">&copy; 2017-2024 tartib.uz</p>
    </form>
</main>